<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
     <!-- this automagically knows that @users is an array of user objects
     and we are looking to render the 'user' partial as a list??!?  -->
    <%= render @users %>
</ul>

<%= will_paginate %>
